<ul>
 <li>Apple surpassed Nvidia in market value, reclaiming its spot as the world's most valuable company.</li>
 <li>Apple has outperformed the AI chipmaker in 2026 as investors reward its AI spending plans.</li>
 <li>Nvidia had held the title of world's most valuable company since June 2025, when it surpassed Microsoft.</li>
</ul>
<p>Apple and Nvidia battled it out on Friday for the title of world's most valuable company, with the iPhone maker briefly topping the long-time leader in market value.</p>
<p>Shares of Nvidia briefly dropped about 3% and its market value dipped to $4.84 trillion in early morning trading, while Apple hovered near a $4.88 trillion market value. Those spots later reversed, and Nvidia closed slightly above Apple.</p>
<p>The two companies have had very different fortunes in 2026.</p>
<p>Apple has surged almost 23% this year, outperforming the market as investors reward its AI agenda and light capital spending model as businesses commit unprecedented capital to the infrastructure buildout.</p>
<p>Shares also hit fresh highs this week and HSBC upgraded the stock to a buy rating, citing new AI capabilities and a strong product pipeline.</p>
<p>"This AI boost comes at the right moment, when we think Apple has one of its most innovative product pipelines in place," they wrote.</p>
<p>Meanwhile, Nvidia has gained just 9% and largely sat on the sidelines as Wall Street pivots to the memory chip and infrastructure stage of the data center buildout. That's benefited memory stocks such as Micron Technology and Sandisk.</p>
<p>Nvidia had held the title of world's most valuable company since June 2025, when it surpassed Microsoft. In October, the company became the first to hit a historic $5 trillion market cap.</p>
<p>That same month, Apple crossed a $4 trillion market cap for the first time ever on the heels of strong iPhone sales.</p>