---
layout: default
---

{@io.quarkiverse.roq.frontmatter.runtime.model.Site site}

{#head}
<script defer src="https://cloud.umami.is/script.js" data-website-id="43cfd593-76a8-4316-ac1c-737193312410"></script>
{/head}

<nav class="topbar">
  <a href="{site.url}" class="topbar-brand">
    <img src="{site.image('mascot.svg')}" alt="{site.data.name}" class="topbar-mascot"/>
    <span class="topbar-name shimmer">{site.data.get('simple-name')}</span>
  </a>
  <div class="topbar-menu">
    {#for item in cdi:menu.items}
    <a href="{site.url(item.path)}" class="topbar-link"><i class="{item.icon}"></i> {item.title}</a>
    {/for}
  </div>
  {#insert darkmode}{#include partials/roq-default/sidebar-darkmode /}{/}
</nav>
<main class="main-content">
  {#insert /}
</main>
