<h1>Could Nvidia Default?</h1>
<p>It seems unimaginable that a company which has had the gargantuan success of Nvidia can be seen as a debt default risk.</p>
<p>But that’s what is happening. Credit Default Swaps insuring against an Nvidia debt default have doubled in price in the last two months.</p>
<p>The worry is that an AI downturn could see the circular deals entered into by Nvidia with other AI players unravel, leaving Nvidia on the hook for tens of billions of dollars in loan guarantees and back-stop agreements.</p>
<p>Earlier this month Nvidia gave a $105 billion residual value guarantee for OpenAI’s Ohio datacentre.</p>
<p>It has also been involved in two $500 billion deals this month – one with Hynix and one with a bunch of Wall Street firms for financing datacentre construction.</p>
<p>Nvidia is reported to have been involved in over 300 financing deals in the last five years.</p>
<p>Analysts have warned of “cascading losses’ if these deals turn sour.</p>
<p>As people fret over Nvidia’s default risk, the company is expected to announce a $90 billion+ revenue quarter tomorrow.</p>
<p>It’s a funny old world.</p>
<h3>Comments</h3>
<ol>
 <li>Pete Robinson says: 
  <p>Evolutionary mismatch in action?</p>
  <ul>
   <li>David Manners says: 
    <p>Could be Pete. Nvidia could become a victim of its own success because it was, by such a huge margin, the biggest financial beneficiary of the AI boom that all the other AI players seem to feel they can tap it for a hand-out. Meanwhile Nvidia may feel it has a responsibility to keep the AI show on the road no matter what.</p></li>
  </ul></li>
</ol>