<h1>Advanced Icon Design: Compound Icons (Modifiers)</h1>
<p>Sometimes we combine 2 symbols to get the meaning we want.</p>
<p>A base symbol (phone) and a modifier (plus sign) come together to say “add phone number”.</p>
<p>Compound icons are effective at getting more specific. <em>What</em> are we adding? A phone, a folder, a user, a location.</p>
<p>This can help when icons live without a text label —</p>
<p>— or when we want to distinguish items from each other.</p>
<p>In a list of folders, perhaps we want to call out which ones are private or shared at a glance.</p>
<h2>Constructing compound icons</h2>
<p>We can create a compound icon by amending a base icon with a smaller modifier, placing it inside the base icon or in the corner.</p>
<p>The modifier can also go on top. A slash or “x” over an icon is a familiar way to show that something is disabled, unavailable, or prohibited.</p>
<p>In any of the placements above, it’s important for the 2 components to read distinctly.</p>
<p>This can be done by creating some sort of separation: creating a gap to duck the base icon behind the modifier, applying a fill treatment to the modifier to bring it forward, or color-coding the 2 parts.</p>
<p>In a rare case you might merge forms to double the meaning of one element. The icon below (<em>user-switch</em>) uses the outer circle as both clockwise arrows and a container for the user.</p>
<p>This is clever when done well, but make sure the 2 components read clearly.</p>
<h2>Gotchas</h2>
<p>Though they have their place, compound icons are harder to parse.</p>
<h3>More details to read</h3>
<p>They pack more detail in the same amount of space. A common digital size like 24 by 24 pixels can only hold so much.</p>
<p>To accommodate modifiers, the base icon has to get broken sometimes.</p>
<p>This technique erodes legibility, especially as the icon gets smaller.</p>
<h3>Unclear language</h3>
<p>What’s uniquely troublesome about compound icons is that they ask you to interpret 2 symbols and their relationship to each other. In other words, they introduce <em>grammar</em>, a fuzzy grammar that isn’t agreed upon.</p>
<p>Does the icon below mean “change password” or “lock device rotation”?</p>
<p>Which element is the modifier and which is being modified?</p>
<h3>Lack of distinction</h3>
<p>Finally, compound icons that share the same base icon can look too similar.</p>
<p>In this call history from WhatsApp on iOS, it’s hard to make out the difference between the little arrows from “<em>incoming</em> call” and “<em>outgoing</em> call”.</p>
<p>Since we know the context (we’re viewing Recent Calls), why not drop the phone and render the arrows at a larger size? That way we focus on “outgoing” vs. “incoming”, not “call”.</p>
<p>It turns out WhatsApp on Android takes this approach, and adds some color-coding to distinguish between completed and missed calls. Note that the “incoming”, “outgoing”, and “missed” text labels are removed here, which asks the icons to really pull their weight.</p>
<p>One of the key advantages of icons is glanceability. Compound icons defeat this purpose when they make you think too hard.</p>
<p>Always test for legibility in context when introducing modifiers!</p>
<p>Thanks for reading. If you enjoyed this, stay tuned for more topics like:</p>
<ul>
 <li>Dots</li>
 <li>Optical scaling</li>
 <li>Optical alignment</li>
 <li>Stroke &lt;&gt; fill variants</li>
 <li>Arrowheads</li>
 <li>Multicolor icons</li>
 <li>Legibility over style</li>
 <li>Icons with type</li>
 <li>Pleasing curves</li>
</ul>