<h2>How to Use</h2>
<p>Use the palette chooser to create a series of colors that are <em>visually equidistant</em>. This is useful for many data visualizations, like pie charts, grouped bar charts, and maps.</p>
<p><em>Note: there are two other modes besides palette mode –&nbsp;check out single-hue scales and divergent scales as well.</em></p>
<p>Creating visually equidistant palettes is basically impossible to do by hand, yet <strong>hugely important</strong> for data visualizations. Why? When colors are <em>not</em> visually equidistant, it’s harder to (a) tell them apart in the chart, and (b) compare the chart to the key. I’m sure we’ve all looked at charts where you can hardly use the key since the data colors are so similar.</p>
<p>It’s better to use use a <strong>range of hues</strong> so users can cross-reference with the key easier. It’s far simpler for our brains to distinguish, say, <em>yellow from orange</em> than <em>blue from blue-but-15%-lighter</em>.</p>
<p>This color picker allows you to specify both endpoints of the palette. You can choose at least one to be a brand color, which gives you significant flexibility in creating a palette that will work for your visualizations, yet be customized for your brand.</p>
<p>Here are a few tips for getting the best palette:</p>
<ul>
 <li>Try picking <strong>very different endpoint colors</strong> – e.g. one warm, one cool; one bright, one darker – so that your palette covers a wider range</li>
 <li>If you’re using a <strong>brand color</strong> for one endpoint, don’t be afraid to <strong>modify the saturation and brightness</strong> a bit if it creates a more pleasing palette. Users will recognize your brand color by its hue much <em>far more</em> than by it’s exact saturation/brightness.</li>
 <li>For data visualizations where you’re showing the <strong>strength of a single value</strong>, try using the Single Hue Palette Generator instead.</li>
</ul>
<h2>More on Color</h2>
<p>If you're new to color in UI design, I highly recommend the following resources:</p>
<ul>
 <li>The HSB Color System: A Practitioner's Primer</li>
 <li>Color in UI Design: A Practical Framework</li>
 <li>Gradient Generator tool, by yours truly, built to be the most fully-featured on the web 😎</li>
 <li>Design Hacks, my email newsletter where I send original design tips and tactics to 60,000+ of my closest friends.</li>
</ul>
<p>Anyhow, I've created this to be the tool I wish I had for creating data visualization palettes. Is there another feature you'd like to see in it? Let me know.</p>
<h2>How to Use</h2>
<p>The Single Hue Scale generator is most useful for visualizations where you’re showing the value of a single variable. Typically, the darker variation will represent a higher value, and a neutral color (even white) will represent a value closer to zero.</p>
<p>In a pie chart or bar chart, <em>size</em> is used to distinguish higher values. But in some visualizations, the size is set and you need to rely on color. Two examples of this are show in the “In Context” section above:</p>
<ul>
 <li>A <strong>map</strong> in which size represents county size; we need to use color to distinguish the value for each county</li>
 <li>A <strong>week-by-week calendar</strong> in which each day is an equally sized box; we need to use color to show the value for a particular day</li>
</ul>
<p>Here are a few tips for getting the best single hue scale:</p>
<ul>
 <li>To transition to a <strong>flat gray</strong> endpoint, set “Color Intensity” to zero</li>
 <li>To transition to a <strong>white</strong> endpoint, set “Brightness” to full <em>and</em> “Color Intensity” to zero</li>
 <li>If your color scale actually shows a variable that transitions from one end to a <em>neutral midpoint</em> to <em>another</em> end, try the Divergent Scale Generator (e.g. Republican to moderate to Democrat; hotter to same-temperature to cooler)</li>
</ul>
<h2>How to Use</h2>
<p>The Divergent Color Scale generator is most useful for visualizations where you’re showing a transition from (a) one extreme, through a (b) neutral middle, and finally to a (c) opposite extreme.</p>
<p>Perhaps the most common example of this is the “how Democrat/Republican is each state in the US” chart.</p>
<p>By default, the neutral midpoint is a light gray. You can change it with the "Modify Midpoint Color" sliders to be slightly darker or more colorful. For the best results, set the Color Intensity to the minimum when the two endpoint hues are significantly different –&nbsp;otherwise, the moderate tones will start to blend together (this will be evident in the map).</p>
<p>As with the other visualization styles, this will pick colors that are visually equidistant. However, if one of the two endpoint colors is significantly darker or saturated, the swatches on that side will have more color-space between them.</p>