<p>We're releasing tev1-4B-experimental, a Jev-like classifier finetuned on top of Qwen3.5 4B.</p>
<p>We're making it available on Together serverless at $0.042/M input &amp; $0/M output.</p>
<p>Also releasing the data recipe &amp; a tutorial on how to finetune your own (Tev1 cost $17 to train!).</p>
<blockquote>
 <a href="https://twitter.com/nutlope/status/2102881280115249597">https://twitter.com/nutlope/status/2102881280115249597</a>
</blockquote>
<p>Note that this is an experimental model meant to show how you can train your own specialized decision models fairly easily!</p>
<p>You can also check out the model weights here, along with the full tutorial on finetuning your own classifiers above: <a href="https://huggingface.co/togethercomputer/Tev1-4B-experimental">huggingface.co/togethercomputer/Tev1-4B-experimental</a></p>