<h1>Cloudflare OS: An AI productivity environment</h1>
<p>Cloudflare OS is an "operating system" for AI productivity originally developed for use inside Cloudflare. A large portion of Cloudflare's workforce -- from engineering to sales and everything in between -- uses Cloudflare OS every day to help them do their jobs.</p>
<p>This is not a traditional computer operating system. We use the term "operating system" in two senses:</p>
<ul>
 <li>An operating system for <em>the company</em> to be productive with AI, in a way that is safe, so that the security team can sleep at night.</li>
 <li>An operating system for AI workloads, analogous to the sense in which a traditional operating system manages compute workloads.</li>
</ul>
<p>Cloudflare OS provides three things in particular:</p>
<ol>
 <li>An agent chat UI where you can ask agents to do tasks, preloaded with knowledge about how your company operates.</li>
 <li>Sandboxed application development, so that you can ask agents to build "gadgets" (small personal apps) and safely share what you've built with others.</li>
 <li>A security framework, called Gatekeepers, that applies guardrails to both agents and apps such that non-technical users can safely "go nuts" and nothing bad will happen.</li>
</ol>
<p>We are making Cloudflare OS open source so that others can copy it and customize it for their own company. The idea is not that your company uses Cloudflare OS, but rather that you make it "<em>Your Company</em> OS".</p>
<h2>Quick Start</h2>
<p>To quickly run Cloudflare OS locally, <a href="https://pnpm.io/">install pnpm</a>, then do:</p>
<pre><code>pnpm run-local
</code></pre>
<p>Then visit: <a href="http://localhost:8787">http://localhost:8787</a></p>
<p>This runs the whole stack locally on wrangler and workerd. This is not meant for production use, but is a quick way to see what the product does.</p>
<p>Alternatively, you can <a href="https://os.cloudflare.app/deploy">deploy to your Cloudflare account</a>.</p>
<h3>What to try</h3>
<p>Try prompts like:</p>
<ul>
 <li>"Make slides for my upcoming meeting with a customer." (This will use the built-in slides blueprint.)</li>
 <li>"Make a collaborative whiteboard app." (This will create a new app from scratch.)</li>
 <li>"Make a tic tac toe game." followed by "I'll be X and you be O. I've made my first move. Your turn."</li>
 <li>"Make an issue dashboard for this GitHub repo." (Attach a repo; requires that the GitHub integration is configured.)</li>
 <li>"Fix the typos in this Google Doc." (Attach a doc; requires that the Google integration is configured.)</li>
</ul>
<h3>WARNING: Early access</h3>
<p>Cloudflare OS is in a state of heavy development. This repository is actually version 2, a complete rewrite taking what we learned from version 1 and putting it on a new foundation.</p>
<p>As of the August 2026 release, Cloudflare OS v2 is very capable, but still has many rough edges. We know, and we're working on it. For now, consider this an "early access" release.</p>
<h2>Overview: What is Cloudflare OS really?</h2>
<h3>Gadgets: A new way of thinking about software</h3>
<p>Cloudflare OS is more than just another chatbox with connectors. The system revolves around a new approach to software, where every user runs their own copy of the productivity apps they use.</p>
<p>When you create a slide deck in Cloudflare OS, you are not calling out to some SaaS software running in the cloud. The system creates a <em>private instance</em> of the slide deck software <em>just for you</em>. We call this a "gadget". This instance runs in a separate sandbox from everyone else's slide decks.</p>
<p>This has two profound effects:</p>
<ol>
 <li>It's impossible for the slide deck app to have a security bug that leaks your slides to an attacker. The Cloudflare OS sandbox controls all access to your private instance of the app.</li>
 <li>If you want, you can freely modify the code. If the slide deck app is missing a feature you need, you can just ask your agent to add it. And because of point 1, it's totally safe to do so.</li>
</ol>
<p>This is a big departure from the last 25 years of cloud architecture and "Software as a Service", but we think AI has changed the equation. When any user is capable of prompting an agent to add the features they need, the centralized model of software stops making sense.</p>
<h3>Gatekeepers: A capability-based security layer</h3>
<p>Gatekeepers are like supercharged MCP servers.</p>
<p>When you introduce an agent or Gadget to an external resource, a Gatekeeper is created to manage that access. The Gatekeeper is a piece of software specific to each external service which moderates a Gadget's connection to that service. It:</p>
<ul>
 <li>Provides a clean Cap'n Web API to the service (wrapping whatever API the service provides natively).</li>
 <li>Handles authorization (e.g. via OAuth).</li>
 <li>Enforces narrow access to only the specific resource the user intended.</li>
 <li>Logs every action the Gadget (or agent) performs, for your review.</li>
 <li>For any action which has side effects, provides the human user an opportunity to approve or deny the action ("human in the loop").</li>
</ul>
<p>On the last point, Gatekeepers implement a significant advancement in the state of the art. Traditionally, human-in-the-loop setups require the human to approve actions <em>synchronously</em>. When the agent wants to do something, it has to <em>stop</em> and wait for said approval before it can continue. This is annoying: you give your agent a task, then walk away and get a coffee, only to come back and find the agent got stuck on an approval on the first step and has made no progress. As a result, people often give in and set their agents to "auto-approve", or <code>--dangerously-skip-permissions</code>, which is, obviously, unsafe.</p>
<p>Gatekeepers provide a better way: When the agent (or Gadget) performs an action that requires approval, the Gatekeeper will <em>simulate</em> the outcome locally, allowing the agent to proceed and queue up more actions. The Gatekeeper tells the agent that the action completed, and if the agent tries to read back the results, the Gatekeeper gives it simulated results. Once the agent is done, the user may approve or reject the actions in bulk, or one-by-one, but either way, they can do it later, when it is convenient.</p>
<h3>Think of an office suite</h3>
<p>The basic user experience of Cloudflare OS is something like an online office suite, like Google Docs or MS Office. But, imagine that instead of a fixed set of file types (document, spreadsheet, slide deck), each file -- or "Gadget" -- is potentially its own custom application, written by AI to serve exactly your needs.</p>
<p>Just like office docs, each gadget is private by default, but can be shared -- securely -- in order to collaborate with your team or your friends.</p>
<p>Just like office docs, you can have thousands of them. You can create them on a whim.</p>
<p>Just like office docs, you can start from "templates" -- called "Blueprints". But where an office template is just some content, a Blueprint specifies a whole application.</p>
<h3>It kind of is an Operating System</h3>
<p>The OS terminology isn't <em>entirely</em> marketing. Cloudflare OS is actually analogous to an operating system on a technical level.</p>
<table>
 <thead>
  <tr>
   <th>Normal OS</th>
   <th>Cloudflare OS</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td>kernel</td>
   <td>packages/workshop-backend</td>
  </tr>
  <tr>
   <td>device drivers</td>
   <td>packages/gatekeeper-*</td>
  </tr>
  <tr>
   <td>shell</td>
   <td>packages/workshop-frontend</td>
  </tr>
  <tr>
   <td>processes</td>
   <td>gadgets</td>
  </tr>
  <tr>
   <td>executables</td>
   <td>blueprints</td>
  </tr>
  <tr>
   <td>users</td>
   <td>users</td>
  </tr>
  <tr>
   <td>ACLs</td>
   <td>shared permissions</td>
  </tr>
  <tr>
   <td>???</td>
   <td>agents</td>
  </tr>
 </tbody>
</table>
<p>Our "kernel" is in the workshop-backend package. The backend legitimately does a lot of things similar to real OS kernels: it connects users to programs and devices (Gadgets and Gatekeepers, as we call them) while implementing security by sandboxing applications and enforcing access control.</p>
<p>In this analogy, Gatekeepers -- which connect users and agents to external services -- are like drivers -- which connect users and programs to external devices.</p>
<h3>Built on Workers, by the Workers team</h3>
<p>Cloudflare OS is built on <a href="https://workers.cloudflare.com">Cloudflare Workers</a>, making heavy use of <a href="https://developers.cloudflare.com/durable-objects/">Durable Objects</a>, <a href="https://blog.cloudflare.com/dynamic-workers/">Dynamic Workers</a>, and <a href="https://blog.cloudflare.com/durable-object-facets-dynamic-workers/">Facets</a> in particular. Every workspace is its own Durable Object, every Gadget runs in a Dynamic Worker Facet, and Gatekeepers also install facets into each workspace to manage access to remote services.</p>
<h2>Features</h2>
<h3>General multi-purpose agent</h3>
<p>The Cloudflare OS coding agent is actually a fully multi-purpose agent that can perform arbitrary tasks; like other popular coding agents, you don't have to code with it. You can use it to build Gadgets, but you can also skip the Gadget and just have the agent perform tasks directly.</p>
<h3>Build apps with AI</h3>
<p>While you can code a Gadget by hand if you want, the expectation is that AI writes the code for you. Cloudflare OS features a built-in coding agent that will build whatever you ask it, test it for you, and debug errors.</p>
<h3>Collaborate with AI</h3>
<p>Every app built with Cloudflare OS automatically has an agent-friendly API. That means, after you've asked AI to build the app, you can also ask AI to collaborate with you <em>inside</em> the app.</p>
<h3>Real-time Multiplayer</h3>
<p>You can share your Gadget just like you'd share a document in a typical online office suite. You can give specific users access, or create a share link that provides access to anyone who opens it. And just like those online office suites, you'll be able to see your collaborators' actions in real time.</p>
<h3>Blueprints: Share your code</h3>
<p>If you've created a Gadget that might be useful to others, but you don't want to share the Gadget itself, you can instead share a Blueprint, allowing other people to create their own copy of the Gadget. A Blueprint is essentially a copy of the code.</p>
<h3>Sandboxed and secure by default</h3>
<p>Each Gadget runs in a secure sandbox that prevents it from talking to the internet at all without your explicit consent.</p>
<h3>Capability-based access control</h3>
<p>Each agent, and each Gadget, by default has access to nothing. Even if you've configured the Gadget Workshop with access to external accounts, agents and Gadgets do NOT automatically get to use them.</p>
<h2>Get Started</h2>
<h3>Deploy to your Cloudflare account</h3>
<p>We've built an online flow that helps you deploy to your own Cloudflare account: <a href="https://os.cloudflare.app/deploy">https://os.cloudflare.app/deploy</a></p>
<h3>Run locally</h3>
<p>To quickly run Cloudflare OS locally, <a href="https://pnpm.io/">install pnpm</a>, then do:</p>
<pre><code>pnpm run-local
</code></pre>
<h3>Deploy to your own server using <code>workerd</code></h3>
<p><strong>COMING SOON</strong></p>
<h4>Configuring external services</h4>
<p>Each gatekeeper package contains instructions for how to set it up.</p>
<h2>Developing</h2>
<p>When developing, you'll want to run the front-end and back-end as two separate commands in two terminals:</p>
<pre><code>pnpm dev-server
pnpm dev-client
</code></pre>
<h3>Contributing</h3>
<p>At this time, we are not seeking outside contribution. AI has made writing code easy. The hard part, today, is not writing the code, but reviewing it, making sure quality stays high, and keeping the product coherent. In that light, unfortunately, external code contributions are "donating" the easy part of the job, while creating more of the hard work.</p>
<h2>Credits</h2>
<ul>
 <li><a href="https://pi.dev/">Pi</a> (specifically, <code>pi-agent-core</code>), which made it easy to support every LLM provider with one API.</li>
 <li><a href="https://microsoft.github.io/monaco-editor/">Monaco</a> which makes it too easy to embed a beautiful text editor -- for those of us who still look at the code.</li>
 <li><a href="https://yjs.dev/">Yjs</a>, which we use extensively to sync code changes between clients and agents and replay histories.</li>
 <li><a href="https://vite.dev/">Vite</a>, which makes the development loop so pleasant.</li>
</ul>