<h1>Figma’s Loredana Crisan talks taste, last-minute decisions and the art of prioritisation</h1>
<p>In House is a new column from It’s Nice That where we go inside the workings of major brands, agencies and companies shaping the future of the creative industry.</p>
<p>In late June, thousands of designers descended on San Francisco for Figma’s annual Config conference. As ever, the company announced several new features, including Figma Motion, Code Layers that let users code on the canvas, and the ability to build custom plug-ins with an AI agent.</p>
<p>But it’s also a chance for the company to communicate a bigger vision for the future, at a time when new AI tools seem to be trying to eat its lunch.</p>
<p>We spoke with chief design officer Loredana Crisan, who joined Figma in September after nearly a decade leading design and product teams at Meta (including Messenger, Instagram DMs and GenAI Products).</p>
<p>We discussed Config’s last-minute charm, Figma’s relentless focus on keeping human creativity front and centre, and building a culture to help ideas reach “escape velocity”.</p>
<p><strong>Rob Alderson:</strong> You’re fresh out of Config, what’s the biggest challenge bringing it all together?</p>
<p><strong>Loredana Crisan:</strong> There are teams that are thinking about Config pretty much all year long. Each Config has a different brand identity and we start thinking about that early, to allow lots of ideas to simmer.</p>
<p>But we don’t decide on the product line-up until very close to the end, so the speakers, the demos, everything else takes shape in its final form the weekend before.</p>
<p>That’s the challenge of Config, but I think it’s also the charm, because it doesn’t become so rehearsed. You see the Figma team in its raw form.</p>
<blockquote>
 “Prioritisation is always an art that we pretend is a science.”
</blockquote>
<p><strong>RA:</strong> Is it easier or harder to be chief design officer at a company whose target audience is designers?</p>
<p><strong>LC:</strong> On the one hand, there’s a lot of responsibility. Designers are a very discerning group and I take that very seriously.</p>
<p>But honestly, it’s so much easier because I get to work on a product that I’ve spent a decade creating in myself, for an audience that I understand.</p>
<p><strong>RA:</strong> But when you’re walking through Config, do you get a lot of people coming up to you with ideas and feedback?</p>
<p><strong>LC:</strong> I solicit that. I’m like, “I take requests.” I want to understand where we’re falling short because if you learn anything in design, it’s that your mind doesn’t see all of the possibilities.</p>
<p><strong>RA:</strong> How do you decide which feedback gets addressed?</p>
<p><strong>LC:</strong> Prioritisation is always an art that we pretend is a science.</p>
<p>Sometimes you get feedback that deeply resonates with something that you’ve already felt in the tool. Other times, you’re forced to hold off on implementing a good idea because something else has to come first.</p>
<p>That leads to what I call ‘finally features’ as in, “Finally Figma has this.” In some ways, Motion was a ‘finally feature’.</p>
<p><strong>RA:</strong> What’s the biggest thing you’ve learned in your ten months in the job?</p>
<p><strong>LC:</strong> Coming into Figma, I knew very clearly that AI was going to be part of the remit and we needed to understand how it figures in the creative process. My initial understanding was that we had to make AI a better designer, in order to become a better collaborator.</p>
<p>I still think that AI being fluent in the vocabulary of design is important, but that’s only half the story. The other half is keeping the human in the creative process – not having AI overtake the creative imagination.</p>
<p>Oftentimes we talk about the human like an editor – as the judgment, and the taste layer. But in reality, a lot of the taste comes from doing, and you don’t discover an idea until you’ve gone into the rabbit hole looking for it.</p>
<p>It’s an oversimplification that humans can just come and pick one of the variants that AI gives them.</p>
<p><strong>RA:</strong> How do you decide where AI is added into the design process?</p>
<p><strong>LC:</strong> We think it’s important that AI always scaffolds a human action.</p>
<p>So our plug-ins and gen effects that we announced at Config are created by AI, but they’re tools that you manipulate directly, and you see the effect on the canvas as you’re doing it.</p>
<p>Keeping that embodied sensation, with your brain and your hands working together, is really important.</p>
<blockquote>
 “In reality, a lot of the taste comes from doing, and you don’t discover an idea until you’ve gone into the rabbit hole looking for it.”
</blockquote>
<p><strong>RA:</strong> Figma’s view seems to be that creative people shouldn’t feel threatened by gen AI…</p>
<p><strong>LC:</strong> Creative people have something that AI is missing, which is a genuine point of view. That comes from experience, from their unique way of seeing, from their values. That’s very hard to replicate.</p>
<p>We’re seeing a lot more software being produced but we’re seeing that it’s largely ignored, because human attention is limited. For something to stand out, it really has to grab you emotionally. It has to make us feel something. That’s not just poetic – it’s literally neuroscience.</p>
<p>That’s why we believe the demand for creative thinkers will only increase.</p>
<p><strong>RA:</strong> When Claude Design launched, there was a lot of talk about what it meant for Figma. Do you think tools like this challenge your place in the industry?</p>
<p><strong>LC:</strong> We certainly believe that AI raises the floor. And we’re adding AI to Figma, but we’re adding it in a way that has a different point of view than many of these tools.</p>
<p>Our goal is not to generate more work, but to create better work. AI becomes a tool in the human arsenal, but it’s one of the tools they can use.</p>
<p>I actually think Figma becomes even more important in this scenario, because you have a multiplayer canvas, you’re there with your team, you have an infinite space for exploration and direct control over what you’re producing, or what AI produces.</p>
<p>And if you look at all of these tools, their first action is to take whatever AI generates into Figma, because they realise that’s what creative people actually want.</p>
<p><strong>RA:</strong> How do you build a creative culture?</p>
<p><strong>LC:</strong> I think a lot about helping ideas reach escape velocity. Ideas are fragile, and they might not become something, depending on the environment and how you cultivate them.</p>
<p>I’ll give you Motion as an example. We knew we wanted to work on motion, but it was really easy to overthink what motion would be at Figma. Will it be a mode? Will it be a tab?</p>
<p>We had a few rounds of conversations where instead of making, we were just debating things. The idea did not have momentum. In the end, the right move was to get the product in staging. The team could pick any direction – just get it to be real so we can play with it.</p>
<p>And honestly the moment it was in staging, the team accelerated on their own. There were very few decisions where we got stuck.</p>
<blockquote>
 “Ideas are fragile, and they might not become something, depending on the environment and how you cultivate them.”
</blockquote>
<p><strong>RA:</strong> What about encouraging people to bring new ideas?</p>
<p><strong>LC:</strong> Our plug-in product was dreamed up by one of our growth designers, who put a prototype in one of our Slack channels. It was clear that it was a really good idea and a lot of other people mobilised around it. As a leader, I could have been like, “It’s not on the road map. We have all these other things that we need to do for Config.”</p>
<p>But we recognised it had momentum, and so we created a project. If you don’t treat new ideas as important, people won’t come forward with them.</p>
<p>But none of this works unless you have safety in the team, where it’s ok for unfinished ideas to show up. I obviously have plenty of creative conviction – things that I love and I don’t love. But giving the team ownership and agency is critical.</p>
<p><strong>RA:</strong> Is that easier said than done?</p>
<p><strong>LC:</strong> Absolutely. Creative control is the name of the game as we build our careers. It takes maturity and trust to let things go in a different direction.</p>
<p><strong>RA:</strong> What other skills did you have to develop when you first stepped into design leadership roles?</p>
<p><strong>LC:</strong> On the one hand, leadership gives you more influence over what gets made. But at the same time you have far less control, as the making gets abstracted away from you, and you start talking about metrics and org charts and frameworks and systems.</p>
<p>It’s easy to get lost in that abstraction. But I found it helpful to stay grounded in what’s real. For me, that means the joy of making. I want to be in the tools. I don’t create the most important projects for Figma, but I’m constantly playing and making demos.</p>
<p>Then it’s about growing people. That’s not a name on an org chart, that’s a person, and you need to really care about them.</p>
<p>The third thing that’s always guided me is the value we put out into the world. If you keep the people you serve top of mind, I think you’ll be fine.</p>
<blockquote>
 “Here is a new craft developing around these non-deterministic systems that I truly want to invite designers into, because this is what will create the experiences of the future.”
</blockquote>
<p><strong>RA:</strong> What is a key skill designers will need in the future?</p>
<p><strong>LC:</strong> The biggest change they need to embrace is designing for non-determinism.</p>
<p>With AI, all of the products that we build will have to be used either manually or through agents. And so you want to make sure that the agent experience fits what you believe is a great experience.</p>
<p>There is a new craft developing around these non-deterministic systems that I truly want to invite designers into, because this is what will create the experiences of the future.</p>
<p><strong>RA:</strong> What doesn’t change – what skills will continue to be important?</p>
<p><strong>LC:</strong> Empathy. Sorry, this is absolutely cliche, but that will never change. AI is part of the process, but we are people building for other people, and it’s really important for us to keep that top of mind.</p>
<p>The other thing that always guides me as a leader is cultivating the talent that will succeed you. If you think about many of the products that we’re building, they’re digital. They’re meant to only exist for a little bit, and then evolve into something very different. But the people that you build up and pull into the industry will really be your legacy.</p>