<h2>The Figma agent is generally available</h2>
<p>The Figma agent is exiting beta with improved latency, the ability to search for Figma files in a chat, and guidelines users can configure to give the agent context about design libraries.</p>
<ul>
 <li>Add <a href="https://help.figma.com/hc/en-us/articles/43509372175511-Add-guidelines-files-to-a-design-library">guidelines</a> to a Figma design library. Upload markdown files with rules, best practices, antipatterns, and more. These files are read by the agent every time a user prompts with the library enabled.</li>
 <li>Watch your teammates’ agents work live on the canvas. Click the chat pile to see or follow teammates’ agents.</li>
 <li>Prompt the agent to <a href="https://help.figma.com/hc/en-us/articles/37998629035799">search for files</a> across the platform. Ask the agent to insert or reference design files, sticky notes from FigJam, content from Figma Slides, and more.</li>
 <li>Click the + button in the lower left corner of the prompt box and click <a href="https://help.figma.com/hc/en-us/articles/31304529835671">attach Figma files</a> to add context from across the Figma platform.</li>
 <li>Copy and paste Figma nodes directly into the prompt box to add context and reference images.</li>
 <li>Generative plugins are now generally available.</li>
 <li>Select an image model to perform image edits using the agent’s on-canvas entrypoint.</li>
 <li>Use the agent to brainstorm, create, and publish custom skills.</li>
 <li>Custom skills are now available on starter.</li>
</ul>
<p><a href="https://www.figma.com/blog/3-ways-product-designers-use-the-figma-agent/">Learn how</a> product designers use the Figma agent for craft, speed, and creative expression.</p>
<p><a href="https://help.figma.com/hc/en-us/articles/42614902212887-AI-credit-updates-FAQ">The Figma agent uses AI credits as of Oct 6. Learn more</a></p>