<h1>A Simple Guide to Calm UI</h1>
<p>Try adding an item to each list below.</p>
<p>Pay attention to what happens after you submit each dialog:</p>
<h2>The 2 Rules for Calm UI</h2>
<ol>
 <li>Don't show cascading loading states. Keep showing the loading state on the save-button until the list in the background has been refetched.</li>
 <li>Avoid using toasts. They're bad UX. Instead show your action take effect (by adding an item to the list in this case). No need for an extra confirmation.</li>
</ol>
<p>Similar rules apply when deleting an item.</p>
<h2>Example: Item Deletion</h2>
<p>Try deleting an item from each list:</p>
<p>Same principle as above. Fewer discrete loading states and no toasts make for a calmer UI.</p>
<h2>Bonus Rules</h2>
<h3>1. Don't use toasts for errors either</h3>
<p>The toast might look cleaner but it will appear far away from where the user originally clicked, especially on large screens.</p>
<p>Toasts also disappear after a while, leaving the user confused if they weren't paying attention when the toast was shown.</p>
<h3>2. Pin modals that change height to the top</h3>
<p>When the modal is centered, it causes the submit-button to shift position when showing/hiding the error message. Annoying!</p>
<p>The simple solution is to pin the modal to the top.</p>
<h3>3. Let 'Enter' submit the form</h3>
<p>When you're typing in the name of your item, you should be able to just hit <code>Enter</code> to submit the form.</p>
<p>You get this for free in React by using <code>&lt;form onSubmit=\{addItem}&gt;</code> instead of <code>&lt;button onClick=\{addItem}&gt;</code>.</p>
<h3>4. Focus first input when opening a dialog</h3>
<p>It's super annoying when I click to open a dialog and I have to click again so I can start typing.</p>
<h2>Conclusion</h2>
<p>There are many great design engineers writing about the more subtle art of design, like Jakub Krehel (The invisible side of design engineering) and Emil Kowalski (7 Practical Animation Tips).</p>
<p>I love that stuff but often times we have to build simple, solid UI and don't have the luxury of sweating the tiniest details.</p>
<p>And yes, even the <code>After</code> examples above could be polished a whole lot more with nice animations, optimistic updates, inline editing, etc.</p>
<p>This article was trying to show a few basic rules to keep in mind to make simple UIs feel a lot better. Without costing you extra time (or tokens).</p>