<h1>higgsfield - multi node training without crying</h1>
<p>Higgsfield is an open-source, fault-tolerant, highly scalable GPU orchestration, and a machine learning framework designed for training models with billions to trillions of parameters, such as Large Language Models (LLMs).</p>
<p>Higgsfield serves as a GPU workload manager and machine learning framework with five primary functions:</p>
<ol>
 <li>Allocating exclusive and non-exclusive access to compute resources (nodes) to users for their training tasks.</li>
 <li>Supporting ZeRO-3 deepspeed API and fully sharded data parallel API of PyTorch, enabling efficient sharding for trillion-parameter models.</li>
 <li>Offering a framework for initiating, executing, and monitoring the training of large neural networks on allocated nodes.</li>
 <li>Managing resource contention by maintaining a queue for running experiments.</li>
 <li>Facilitating continuous integration of machine learning development through seamless integration with GitHub and GitHub Actions. Higgsfield streamlines the process of training massive models and empowers developers with a versatile and robust toolset.</li>
</ol>
<h2>Install</h2>
<pre><code>pip install higgsfield==0.0.3</code></pre>
<h2>Train example</h2>
<p>That's all you have to do in order to train LLaMa in a distributed setting:</p>
<pre><code>from higgsfield.llama import Llama70b
from higgsfield.loaders import LlamaLoader
from higgsfield.experiment import experiment

import torch.optim as optim
from alpaca import get_alpaca_data

@experiment("alpaca")
def train(params):
    model = Llama70b(zero_stage=3, fast_attn=False, precision="bf16")

    optimizer = optim.AdamW(model.parameters(), lr=1e-5, weight_decay=0.0)

    dataset = get_alpaca_data(split="train")
    train_loader = LlamaLoader(dataset, max_words=2048)

    for batch in train_loader:
        optimizer.zero_grad()
        loss = model(batch)
        loss.backward()
        optimizer.step()

    model.push_to_hub('alpaca-70b')</code></pre>
<h2>How it's all done?</h2>
<ol>
 <li>We install all the required tools in your server (Docker, your project's deploy keys, higgsfield binary).</li>
 <li>Then we generate deploy &amp; run workflows for your experiments.</li>
 <li>As soon as it gets into Github, it will automatically deploy your code on your nodes.</li>
 <li>Then you access your experiments' run UI through Github, which will launch experiments and save the checkpoints.</li>
</ol>
<h2>Design</h2>
<p>We follow the standard pytorch workflow. Thus you can incorporate anything besides what we provide, <code>deepspeed</code>, <code>accelerate</code>, or just implement your custom <code>pytorch</code> sharding from scratch.</p>
<p><strong>Enviroment hell</strong></p>
<p>No more different versions of pytorch, nvidia drivers, data processing libraries. You can easily orchestrate experiments and their environments, document and track the specific versions and configurations of all dependencies to ensure reproducibility.</p>
<p><strong>Config hell</strong></p>
<p>No need to define 600 arguments for your experiment. No more yaml witchcraft. You can use whatever you want, whenever you want. We just introduce a simple interface to define your experiments. We have even taken it further, now you only need to design the way to interact.</p>
<h2>Compatibility</h2>
<p><strong>We need you to have nodes with:</strong></p>
<ul>
 <li>Ubuntu</li>
 <li>SSH access</li>
 <li>Non-root user with sudo privileges (no-password is required)</li>
</ul>
<p><strong>Clouds we have tested on:</strong></p>
<ul>
 <li>Azure</li>
 <li>LambdaLabs</li>
 <li>FluidStack</li>
</ul>
<h2>Getting started</h2>
<h3>Setup</h3>
<p>Here you can find the quick start guide on how to setup your nodes and start training.</p>
<ul>
 <li>Initialize the project</li>
 <li>Setup the environment</li>
 <li>Setup git</li>
 <li>Time to setup your nodes!</li>
 <li>Run your very first experiment</li>
 <li>Fasten your seatbelt, it's time to deploy!</li>
</ul>
<h3>Tutorial</h3>
<p>API for common tasks in Large Language Models training.</p>
<ul>
 <li>Working with distributed model</li>
 <li>Preparing Data</li>
 <li>Optimizing the Model Parameters</li>
 <li>Saving Model</li>
 <li>Training stabilization techniques</li>
 <li>Monitoring</li>
</ul>