<p>We have started our most ambitious pre-training run yet, for Gemini 4, and are excited by the progress : )</p>
<h2>Logan Kilpatrick</h2>
<p>Say hello to the new Interactions API and our first agent, Gemini Deep Research, now available for developers 🤖!</p>
<p>The Interactions API is a new unified interface to interact with both models and agents. Our Deep Research agent is also SOTA on many dimensions... The Interactions API comes with:</p>
<ul>
 <li>Optional server-side state</li>
 <li>Background execution</li>
 <li>Remote MCP tool support</li>
 <li>An Interpretable and composable data model</li>
 <li>Agent + Model support</li>
 <li>Standard REST interface</li>
 <li>Overall 10x better interface : )</li>
</ul>
<p>The Gemini Deep Research Agent is exceptionally powerful... And can be used directly through Interactions, making it available and composable!</p>
<h2>Logan Kilpatrick</h2>
<p>Introducing the Gemini 2.5 model family:</p>
<ul>
 <li>Gemini 2.5 Pro (Stable, no changes from 06-05)</li>
 <li>Gemini 2.5 Flash (Stable, updated pricing from 05-20)</li>
 <li>Gemini 2.5 Flash-Lite (Preview, small reasoning model)</li>
</ul>
<p>Huge work by the team for many months to bring the worlds best model lineup to everyone, I could not be more excited about today. The Gemini 2.5 Pro 06-05 variant is now the stable model we plan to support long term, based on all the feedback from developers. No pricing or model changes, you can use the "gemini-2.5-pro" model name to build!</p>
<h2>Logan Kilpatrick</h2>
<p>We just rolled out “thought summaries” in the Gemini API, now you can see what the model is thinking and make use of that info! To start, you can enable this with 2 lines of code (only 1 if you are already using thinking budgets). Behind the scenes, the model is still reasoning with full thoughts, and then we have a summarization model which translates from full thoughts to summary, while preserving as much detail as possible.</p>
<h2>Logan Kilpatrick</h2>
<p>Gemini 2.5 Pro just got an upgrade &amp; is now even better at coding, with significant gains in front-end web dev, editing, and transformation. We also fixed a bunch of function calling issues that folks have been reporting, it should now be much more reliable. The new model, "gemini-2.5-pro-preview-05-06" is the direct successor / replacement of the previous version (03-25), if you are using the old model, no change is needed, it should auto route to the new version with the same price and rate limits.</p>
<blockquote>
 “The updated Gemini 2.5 Pro achieves leading performance on our junior-dev evals. It was the first-ever model that solved one of our evals involving a larger refactor of a request routing backend. It felt like a more senior developer because it was able to make correct judgement calls and choose good abstractions.” – Silas Alberti, Founding Team, Cognition
</blockquote>
<h2>Logan Kilpatrick</h2>
<p>Today, we are rolling out three experimental models: A new smaller variant, Gemini 1.5 Flash-8B; a stronger Gemini 1.5 Pro model (better on coding &amp; complex prompts); and a significantly improved Gemini 1.5 Flash model.</p>
<p>For context, we are releasing experimental models to gather feedback and get our latest updates into the hands of developers. So let's talk 1.5 Flash-8B! When the Gemini 1.5 technical report was released, we showcased some of the Google DeepMind team's early work creating an even smaller 8 billion parameter variant of the Gemini 1.5 Flash model. Today, we are making an improved version of that model accessible to developers for testing and feedback. This experimental model is intended for everything from high volume multimodal use cases to long context summarization tasks.</p>
<h2>Logan Kilpatrick</h2>
<p>We are giving developers 1,500,000,000 tokens for free everyday in the Gemini API. There is no stronger developer value proposition out there.</p>
<p>Gemini 1.5 Flash free tier comes with:</p>
<ul>
 <li>15 RPM (requests per minute)</li>
 <li>1 million TPM (tokens per minute)</li>
 <li>1,500 RPD (requests per day)</li>
 <li>free context caching, up to 1 million tokens of storage per hour</li>
 <li>free fine-tuning</li>
</ul>
<p>That’s 1.5 Billion tokens free, everyday.</p>
<p>Gemini 1.5 Pro free tier comes with:</p>
<ul>
 <li>2 RPM (requests per minute)</li>
 <li>32,000 TPM (tokens per minute)</li>
 <li>50 RPD (requests per day)</li>
</ul>