<h1>CuPy : NumPy &amp; SciPy for GPU</h1>
<p>CuPy is a NumPy/SciPy-compatible array library for GPU-accelerated computing with Python. CuPy acts as a drop-in replacement to run existing NumPy/SciPy code on NVIDIA CUDA or AMD ROCm platforms.</p>
<pre><code>&gt;&gt;&gt; import cupy as cp
&gt;&gt;&gt; x = cp.arange(6).reshape(2, 3).astype('f')
&gt;&gt;&gt; x
array([[ 0.,  1.,  2.],
       [ 3.,  4.,  5.]], dtype=float32)
&gt;&gt;&gt; x.sum(axis=1)
array([  3.,  12.], dtype=float32)</code></pre>
<p>CuPy also provides access to low-level CUDA features. You can pass <code>ndarray</code> to existing CUDA C/C++ programs via RawKernels, use Streams for performance, or even call CUDA Runtime APIs directly.</p>
<h2>Installation</h2>
<h3>Pip</h3>
<p>Binary packages (wheels) are available for Linux and Windows on PyPI. Choose the right package for your platform.</p>
<table>
 <thead>
  <tr>
   <th>Platform</th>
   <th>Architecture</th>
   <th>Command</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td>CUDA 12.x</td>
   <td>x86_64 / aarch64</td>
   <td><code>pip install cupy-cuda12x</code></td>
  </tr>
  <tr>
   <td>CUDA 13.x</td>
   <td>x86_64 / aarch64</td>
   <td><code>pip install cupy-cuda13x</code></td>
  </tr>
  <tr>
   <td>ROCm 7.0 (experimental)</td>
   <td>x86_64</td>
   <td><code>pip install cupy-rocm-7-0</code></td>
  </tr>
 </tbody>
</table>
<p>To install pre-releases, append <code>--pre -U -f https://pip.cupy.dev/pre</code> (e.g., <code>pip install cupy-cuda12x --pre -U -f https://pip.cupy.dev/pre</code>).</p>
<h3>Conda</h3>
<p>Binary packages are also available for Linux and Windows on Conda-Forge.</p>
<table>
 <thead>
  <tr>
   <th>Platform</th>
   <th>Architecture</th>
   <th>Command</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td>CUDA</td>
   <td>x86_64 / aarch64 / ppc64le</td>
   <td><code>conda install -c conda-forge cupy</code></td>
  </tr>
 </tbody>
</table>
<p>If you need a slim installation (without also getting CUDA dependencies installed), you can do <code>conda install -c conda-forge cupy-core</code>.</p>
<p>If you need to use a particular CUDA version (say 12.0), you can use the <code>cuda-version</code> metapackage to select the version, e.g. <code>conda install -c conda-forge cupy cuda-version=12.0</code>.</p>
<h3>Docker</h3>
<p>Use NVIDIA Container Toolkit to run CuPy container images.</p>
<pre><code>$ docker run --gpus all -it cupy/cupy</code></pre>
<h2>Resources</h2>
<ul>
 <li>Installation Guide - instructions on building from source</li>
 <li>Release Notes</li>
 <li>Projects using CuPy</li>
 <li>Contribution Guide</li>
 <li>GPU Acceleration in Python using CuPy and Numba (GTC November 2021 Technical Session)</li>
 <li>GPU-Acceleration of Signal Processing Workflows using CuPy and cuSignal (ICASSP'21 Tutorial)</li>
</ul>
<h2>License</h2>
<p>MIT License (see LICENSE file).</p>
<p>CuPy is designed based on NumPy's API and SciPy's API (see docs/source/license.rst file).</p>
<p>CuPy is being developed and maintained by Preferred Networks and community contributors.</p>
<h2>Reference</h2>
<p>Ryosuke Okuta, Yuya Unno, Daisuke Nishino, Shohei Hido and Crissman Loomis. <strong>CuPy: A NumPy-Compatible Library for NVIDIA GPU Calculations.</strong> <em>Proceedings of Workshop on Machine Learning Systems (LearningSys) in The Thirty-first Annual Conference on Neural Information Processing Systems (NIPS)</em>, (2017). [PDF]</p>
<pre><code>@inproceedings\{cupy_learningsys2017,
  author       = "Okuta, Ryosuke and Unno, Yuya and Nishino, Daisuke and Hido, Shohei and Loomis, Crissman",
  title        = "CuPy: A NumPy-Compatible Library for NVIDIA GPU Calculations",
  booktitle    = "Proceedings of Workshop on Machine Learning Systems (LearningSys) in The Thirty-first Annual Conference on Neural Information Processing Systems (NIPS)",
  year         = "2017",
  url          = "http://learningsys.org/nips17/assets/papers/paper_16.pdf"
}</code></pre>
<h2>Footnotes</h2>
<ol>
 <li>cuSignal is now part of CuPy starting v13.0.0.</li>
</ol>