<p>We already know what the satellite dishes for Amazon’s Starlink challenger will look like, but a new regulatory filing is offering a first look at the Wi-Fi router for Leo.</p>
<p>On Monday, the Federal Communications Commission published images for the router, six months after Amazon secured regulatory approval to sell the device in the US.</p>
<p>The router, model name L1LA10, supports Wi-Fi 6 and a mesh mode. The FCC agreed to delay publishing the submitted test images on a confidentiality request for Amazon. The 180-day period has since elapsed, leading the commission to disclose them publicly.</p>
<p>According to the filings, the product is a rather basic-looking, box-shaped router, which features the name “E1.” The photos show it has three ports, one for power, and two others that seem to be for Ethernet, one specifically for the dish. A newly disclosed user manual suggests the Leo dish can connect to the router through an Ethernet cable. It also notes the router supports Bluetooth Low Energy and the ZigBee wireless protocol.</p>
<p>Another filing also shows internal components of the router, which seems to contain a sizable power supply unit inside, labeled with the words “AC/DC adapter” and “Made in China.” A few images also show the presence of Qualcomm’s Wi-Fi chips in the QCN 6112, IPQ5018, and QCA8061, along with what appears to be 4GB of flash memory from SkyHigh.</p>
<h3>Recommended by Our Editors</h3>
<p>Amazon didn’t immediately respond to a request for comment. But Leo is slated to launch sometime this summer. So, the first customers will likely receive the router, alongside their Leo dish, as part of a bundle. But for now pricing remains unclear.</p>
<p>Amazon’s satellite internet service will span the portable Leo Nano dish, the regular Leo Pro, and the enterprise-focused Leo Ultra. It’s possible the router ends up paired with the Leo Pro, according to Tim Belfall, a director at UK-based Starlink installer Westend WiFi. He noted the Leo Ultra, designed for 1 gigabit speeds, will be comparable to the Starlink Performance dish, requiring a "much beefier PSU."</p>
<h2>About Our Expert</h2>
<p>I've been a journalist for over 15 years. I got my start as a schools and cities reporter in Kansas City and joined PCMag in 2017, where I cover satellite internet services, cybersecurity, PC hardware, and more. I'm currently based in San Francisco, but previously spent over five years in China, covering the country's technology sector.</p>
<p>Since 2020, I've covered the launch and explosive growth of SpaceX's Starlink satellite internet service, writing 600+ stories on availability and feature launches, but also the regulatory battles over the expansion of satellite constellations, fights with rival providers like AST SpaceMobile and Amazon, and the effort to expand into satellite-based mobile service. I've combed through FCC filings for the latest news and driven to remote corners of California to test Starlink's cellular service.</p>
<p>I also cover cyber threats, from ransomware gangs to the emergence of AI-based malware. In 2024 and 2025, the FTC forced Avast to pay consumers $16.5 million for secretly harvesting and selling their personal information to third-party clients, as revealed in my joint investigation with Motherboard.</p>
<p>I also cover the PC graphics card market. Pandemic-era shortages led me to camp out in front of a Best Buy to get an RTX 3000. I'm now following how the AI-driven memory shortage is impacting the entire consumer electronics market. I'm always eager to learn more, so please jump in the comments with feedback and send me tips.</p>
<ul>
 <li>Networking</li>
 <li>Security</li>
 <li>Graphics Cards</li>
 <li>Processors</li>
 <li>AI</li>
 <li>SpaceX</li>
 <li>Nvidia</li>
 <li>AMD</li>
</ul>
<ul>
 <li>Google Shows Off Samsung's Smart Glasses. Don't Expect a Built-In Display</li>
 <li>Google's Universal Cart Can Help You Avoid PC Building Missteps</li>
 <li>Google's Gemini Omni Tries to Fill the Void Left by OpenAI's Sora</li>
 <li>ShinyHunters Goes After Cybersecurity Firm Warning Victims Not to Pay Ransoms</li>
 <li>T-Mobile CEO: 'Pretty Much No One Buys Satellite Standalone'</li>
 <li>More from Michael Kan</li>
</ul>