<h2>Key Points</h2>
<ul>
 <li>Xiaowei, "a native AI assistant," is being tested "on a small scale" in Weixin, the Chinese version of WeChat.</li>
 <li>Users can interact with Xiaowei with text or voice, communication with friends and launch mini-programs.</li>
 <li>WeChat is an indispensable part of daily life in China and Tencent is trying to tap into its huge user base to expand use of its AI services.</li>
</ul>
<p>Tencent on Monday said it is testing an AI assistant within WeChat in China as the tech giant looks to step up efforts to challenge rivals in the country's competitive artificial intelligence market.</p>
<p>Xiaowei, "a native AI assistant," is being tested "on a small scale" in Weixin, the Chinese version of WeChat, Tencent said in a statement translated by CNBC.</p>
<p>Users can interact with Xiaowei with text or voice, communicate with friends and launch "mini-programs," Tencent added. Mini-programs are apps that run inside of WeChat.</p>
<p>Tencent executives have been mulling further integration of AI into WeChat since last year, with investors watching closely to see if this can be a new revenue stream and a way to monetize AI.</p>
<p>WeChat and Weixin have more than 1.4 billion monthly active users combined, with the majority in China. It is an indispensable part of daily life in China, where people use the app to message friends, make payments, book restaurants and much more.</p>
<p>By integrating an AI tool into an app with a huge user base, Tencent has an opportunity to capture a large number of them for its services.</p>
<p>"Putting an assistant inside Weixin is the first time Tencent uses the advantage it has held all along, and that matters a lot," Howard Yu, the LEGO professor of management and innovation at IMD, told CNBC by email.</p>
<p>"A standalone chatbot gives you an answer. An assistant wired into Weixin completes the task. And it's this second advantage that no rival can copy," Yu added.</p>
<p>The company did not give further details about the capabilities Xiaowei would have or what AI models it is based on.</p>
<p>Tech companies are talking up the potential of so-called AI agents, which they see as digital assistants that are able to carry out complex tasks on a user's behalf across different apps and services.</p>
<p>The new AI assistant is part of a bigger move from Tencent to challenge rivals like Alibaba, DeepSeek and Zhipu in China, which has become an incredibly competitive AI market. This year, Tencent poached an OpenAI researcher to become its chief AI scientist.</p>
<p>Tencent also develops its own family of models under the brand name Hunyuan.</p>