<h2>You should use AI for reviewing code especially when the diff is huge</h2>
<p>I often hear that AI is resulting in 10k LOC reviews and this is creating a bottleneck. I don't think you should waste time reviewing every single line of code in here and just use AI to review it!</p>
<h3>What you contribute as a reviewer</h3>
<p>You need to know what you contribute as a reviewer.</p>
<p><em>As a reviewer, you contribute your <strong>Out Of Distribution knowledge</strong> that the author or the LLM might not have</em></p>
<p>Its a mistake thinking you can outsmart an LLM into nitpicking few lines of code here and there. This is not worth your time because LLM's have far surpassed these kind of issues. Lets remember that these LLM's are now catching high severity vulnerabilities -- your line by line reviews have <em>no</em> place here.</p>
<h3>What kind of knowledge can you bring in as the reviewer?</h3>
<p>What you bring is the knowledge that the author nor the LLM doesn't know.</p>
<p>Examples</p>
<ol>
 <li>That meeting you had last week with the architect where you discussed using <code>service_A</code> getting deprecated? The author doesn't know this.</li>
 <li>You also probably have some general principles in your codebase - don't add fields to the main huge object or don't add metrics in this particular way. These are the things you bring to the review.</li>
 <li>Some high level design smells that only you know as the codebase expert</li>
</ol>
<p>The way I use AI for reviews is to point AI to the change and contribute my Out Of Distribution knowledge in terms of prompts and questions.</p>
<h3>Caveats</h3>
<p>This workflow works in places where each line of code is not sacred. There are places where each line may be sacred, like in embedded systems.</p>