<p>Google is adding a switch to allow website owners to opt out of being featured in their “AI” overviews and related slopsearch results.</p>
<blockquote>
 <p>With this new toggle in Search Console, website owners can decide if they want their site to appear in and help ground responses in our generative AI Search features (like AI Overviews, AI Mode or AI Overviews in Discover). Sites that opt out will not receive traffic or impressions from our generative AI features. This control will not be used as a ranking signal for search results outside of these generative AI Search features. This work builds on our long history of designing tools, like snippet controls and Google-Extended, that give websites more choice.</p>
</blockquote>
<p>While it’s nice of Google to offer such an opt-out to website owners, their claim that opting out won’t effect your regular search ranking rings hollow to me. I simply just do not trust Google in any way, shape, or form to not weaponise their “AI” against anyone who doesn’t want to be sucked up, regurgitated, and spat out in one of their slopsearch tools. On top of that, regular Google Search is dead anyway, so even if they keep their promise, it’s moot because Google users are going to be force-fed the slopsearch tools instead of the regular Google Search.</p>
<p>I honestly have no idea how much traffic OSNews gets from Google at this point, and while I can look it up, I just don’t really care, and think it’s probably not that much. I could opt us out, but the real problem is that such an opt-out won’t stop Google’s slopbots – or anyone else’s slopbots – from taking our writing and training their “AI” tools on it, so what’s the point of going through the effort?</p>
<p>I doubt Google is relevant enough for us.</p>
<h2>About The Author</h2>
<h3>Thom Holwerda</h3>
<p>Follow me on Mastodon @[email&nbsp;protected]</p>
<h2>4 Comments</h2>
<ol>
 <li>2026-06-03 11:45 am luckyleap 
  <p>One missing thing stands out in this feature description – lack of a statement about scrapping the content for the use in “AI overview” etc. So, you can opt out of receiving traffic from “AI” search results, but you cannot opt out of using your content for benefit of Google. If that’s meant to appease regulators and publishers regarding stealing user traffic from other sites, they missed the point. I doubt this (attempt at) malicious compliance will hold.</p></li>
 <li>2026-06-03 1:20 pm Techokami 
  <p>And the option only exists for people in the UK…</p></li>
 <li>2026-06-03 1:56 pm flypig 
  <p>It’s worth noting that this wasn’t something Google chose to do, it was mandated by the UK’s Competition and Markets Authority.</p>
  <p>https://www.gov.uk/government/news/cma-secures-fairer-deal-for-publishers-and-improves-google-search-services-in-uk</p>
  <p>I find it strange this wasn’t implemented through robots.txt or a meta tag. As it stands, I’d have to create a Google account to opt out, which I’m not going to do. Hopefully DisallowAITraining in robots.txt will have the same effect.</p>
  <ul>
   <li>2026-06-03 2:46 pm Alfman 
    <p>flypig,</p>
    <blockquote>
     <p>I find it strange this wasn’t implemented through robots.txt or a meta tag. As it stands, I’d have to create a Google account to opt out, which I’m not going to do. Hopefully DisallowAITraining in robots.txt will have the same effect.</p>
    </blockquote>
    <p>This is one of the reasons the idea of using a service like cloudflare to block “AI bots” can’t fully solve the issue. Most website owners want their site to be indexed, but the same bots that are scraping a website for indexing can easily use the same data for AI training (and do so without increasing the bot’s footprint). You could technically block them, but everyone gives the biggest bots a pass for SEO.</p></li>
  </ul></li>
</ol>
<h3>Leave a Reply <a>Cancel reply</a></h3>
<p>You must be <a href="https://www.osnews.com/wp-login.php?redirect_to=https%3A%2F%2Fwww.osnews.com%2Fstory%2F145194%2Fgoogle-offers-opt-out-of-ai-search-results-for-websites-promises-it-wont-affect-regular-search-rankings%2F">logged in</a> to post a comment.</p>