<h1>No-build Tailwind.</h1>
<h2>Get the CSS utilities you want. Nothing you don't.</h2>
<p>Curlwind allows you to generate Tailwind stylesheets on demand to get only the CSS utilities you need. Generated stylesheets are cached indefinitely so your site stays <em>fast</em>.</p>
<h3>Insert Link</h3>
<p>Add the stylesheet tag to your site's head tag.</p>
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
    &lt;head&gt;
        &lt;link rel="stylesheet" href="https://cdn.curlwind.com"&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;!-- ... --&gt;
    &lt;/body&gt;
&lt;/html&gt;</code></pre>
<h3>Attach Classes</h3>
<p>Attach the 'classes' query parameter to URL receive a stylesheet with only the classes you need. Use wildcards to match multiple classes.</p>
<pre><code>&lt;link rel="stylesheet" href="https://cdn.curlwind.com?classes=p-*,m-*"&gt;</code></pre>
<h3>Receive Stylesheet</h3>
<p>The generated stylesheet will contain only the classes you need.</p>
<pre><code>/* output.css */
.p-0 \{
    padding: 0px;
}
.p-1 \{
    padding: 0.25rem;
}
/* ... */
.m-0 \{
    margin: 0px;
}
.m-1 \{
    margin: 0.25rem;
}
/* ... */</code></pre>
<h3>Generate Variants</h3>
<p>Insert a colon (:) after the class name to generate variants.</p>
<pre><code>&lt;link rel="stylesheet" href="https://cdn.curlwind.com?classes=p-*:sm|md,m-*:hover"&gt;</code></pre>
<h3>Exclude Preflight</h3>
<p>Generate stylesheets without Tailwind's Preflight CSS.</p>
<pre><code>&lt;link rel="stylesheet" href="https://cdn.curlwind.com?preflight=0"&gt;</code></pre>
<h3>Prefixed Utilities</h3>
<p>Generate utility classes with a prefix.</p>
<pre><code>&lt;link rel="stylesheet" href="https://cdn.curlwind.com?prefix=tw"&gt;</code></pre>
<h3>Unminified CSS</h3>
<p>Generate stylesheets unminified.</p>
<pre><code>&lt;link rel="stylesheet" href="https://cdn.curlwind.com?minify=0"&gt;</code></pre>
<h3>Enable Plugins</h3>
<p>Generate stylesheets with built-in Tailwind plugins enabled.</p>
<pre><code>&lt;link rel="stylesheet" href="https://cdn.curlwind.com?plugins=forms,typography,aspect-ratio,container-queries"&gt;</code></pre>