<p>Three months ago, we launched ChatGPT Sites – an easy way for anyone to build and host fully functional, interactive web apps. Since then, people have created over 5M sites. We’ve been listening to your feedback and ICYMI, we’ve launched a few Sites updates:</p>
<ul>
 <li><strong>Build together:</strong> Invite teammates to edit, save, and publish to your shared Site</li>
 <li><strong>Share privately:</strong> Invite specific people to a private Site without making it public</li>
 <li><strong>Launch faster:</strong> Go from prompt to deployment in half the time</li>
 <li><strong>Explore your data:</strong> Ask ChatGPT to inspect your Site’s database. Editors can view it, too</li>
 <li><strong>Add your own custom domain</strong></li>
</ul>