<h1>From Prompt Engineering to Intent Engineering</h1>
<p>I think the number one thing people could do right now to be more effective with AI is switch from Prompt Engineering to Intent Engineering.</p>
<p>This is due to Sutton's Bitter Lesson, which basically says that as AI gets better, our specific step-by-step instructions for how it should do things will become increasingly stupid.</p>
<p>In other words, our thoughts about the smartest way to accomplish a particular thing will get dumber and dumber compared to AI's way of doing it as time goes on.</p>
<blockquote>
 Essentially, we should avoid poisoning AI's native capabilities with our supposedly superior guidance, because it's not actually superior. Bitter Lesson Engineering
</blockquote>
<p>The early days of Prompt Engineering were unfortunately exactly this: a set of specific steps to do a task. It made sense at the time because the models weren't that smart.</p>
<p>So what we need to do is switch our prompt engineering into intent engineering.</p>
<p>It is still technically prompt engineering, but the thing we're articulating is not HOW a thing should be done, but rather WHAT should be done. Meaning, describing the outcome you want.</p>
<p>One of the things you should be doing with your smartest model, like GPT-5.6 Sol or Fable, is basically reviewing all of your various prompts and scaffolding to see where you are violating Bitter Pill Engineering in this way, and switching over your HOW prompts to WHAT prompts.</p>