<p>In Part 1 of this series, we discussed the CI/CD security boundary, mapped out potential attack vectors with a CI/CD threat matrix, and introduced a simple threat model focused on ideating detection workflows. In this post, we’ll apply these principles to a real-world source code management (SCM) tool example that every developer is familiar with: GitHub.</p>
<p>In addition to threat modeling, we’ll also be taking a closer look at historical attacks on GitHub and GitHub Actions ecosystems. Based on these attacks, we’ll discuss preventative measures to help you secure your environment as well as response workflows.</p>
<h2>Threat modeling for GitHub</h2>
<p>As we previously discussed, a threat model is a structured representation of all the information surrounding the security of an application or ecosystem. To apply our detection-based threat model to GitHub, we’ll first identify the <strong>inputs</strong>, <strong>identities</strong>, and <strong>infrastructure</strong> that pertain to the SCM and their corresponding <strong>risks</strong>.</p>
<p><strong>Inputs:</strong></p>
<ul>
 <li>
  <p>Authentication</p></li>
 <li>
  <p>Source code (through pushes, PRs, reviews, commits)</p></li>
 <li>
  <p>Instructions for the CI/CD phase</p></li>
 <li>
  <p>GitHub configurations (including webhooks)</p></li>
 <li>
  <p>Secrets (if using GitHub Actions)</p></li>
</ul>
<p>The <strong>identities</strong> that can access these inputs are then:</p>
<ul>
 <li>
  <p>Authenticated users via SSO, SSH, <a href="https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens#about-personal-access-tokens">personal access tokens (PATs)</a>, and GitHub Apps</p></li>
 <li>
  <p>Unauthenticated users (if public repositories exist)</p></li>
</ul>
<p>In this case, we can omit infrastructure because it falls outside of the scope for GitHub as a SaaS platform.</p>
<p>When it comes to <strong>risks</strong>, for each input, we need to ask ourselves, “What is at risk if an attacker gains control of this input or accesses previously inputted data?”</p>
<table>
 <thead>
  <tr>
   <th>Input</th>
   <th>Risk</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td>Authentication</td>
   <td>Unauthorized access</td>
  </tr>
  <tr>
   <td>Source code (pushes, PRs, code review, commits)</td>
   <td>backdoor entry, code vulnerability, data exfiltration</td>
  </tr>
  <tr>
   <td>GitHub configurations</td>
   <td>Disable protections or exfiltrate data</td>
  </tr>
  <tr>
   <td>Instructions for CI/CD</td>
   <td>Execute malicious code</td>
  </tr>
  <tr>
   <td>Secrets (if using GitHub Actions)</td>
   <td>Expose secrets</td>
  </tr>
 </tbody>
</table>
<p>As an example, consider the input <em>instructions for CI/CD</em>. For each risk associated with this input (in this case, malicious code execution), we need to identify how an attacker can realize the risk, the log sources that surface each attack pathway, and develop detection methods based on the available logs. Starting from the risks, we can map these variables out as shown below:</p>
<figure>
 <img src="https://web-assets.dd-static.net/42588/1776304429-secure-your-github-ecosystem-threat-model-malicious-code.png?format=auto&amp;fit=bounds&amp;quality=75&amp;disable=upscale&amp;width=1400&amp;dpr=1" alt="Threat modeling malicious code execution helps you ideate detection methods associated with different attack vectors.">
</figure>
<p>Given that an identity already has access to the instructions for CI/CD input, they can realize the risk of malicious code execution in several ways, such as:</p>
<ul>
 <li>
  <p>Adding malicious code to CI configuration files such as those stored in <code>.github/workflows/*</code></p></li>
 <li>
  <p>Manipulating tests and scripts that CI jobs run</p></li>
 <li>
  <p>Adding malicious or vulnerable dependencies to files such as <code>package.json</code> and <code>requirements.txt</code></p></li>
</ul>
<p>Consider the most direct attack pathway: adding malicious code to CI job instructions. Because GitHub audit logs don’t log changes to code files, we need to rely on a code scanner such as <a href="https://docs.datadoghq.com/security/code_security/static_analysis/">Datadog Static Code Analysis (SAST)</a>, CodeQL, or Dependabot. AI security tools such as <a href="https://www.datadoghq.com/blog/engineering/malicious-pull-requests/">BewAIre</a> can also automatically review the diff of each PR and classify them as benign or malicious by evaluating intent from code changes and contextual metadata. Using these tools, you can detect changes to triggers executed by CI jobs, code that enumerates or logs environment variables, the use of external command-line utilities such as <code>curl</code> and <code>wget</code>, and new third-party dependencies that were not originally present in your code.</p>
<p>Let’s take a quick look at a different risk example: data exfiltration given a compromised source code input.</p>
<figure>
 <img src="https://web-assets.dd-static.net/42588/1776304434-secure-your-github-ecosystem-threat-model-exfiltrate-data.png?format=auto&amp;fit=bounds&amp;quality=75&amp;disable=upscale&amp;width=1400&amp;dpr=1" alt="Detection methods for data exfiltration rely on making use of GitHub audit logs.">
</figure>
<p>For the risk of data exfiltration, any authenticated GitHub user can realize the risk via multiple avenues such as mass cloning of private repositories onto their local machine, scanning the codebase for secrets, or making a private repo go public.</p>
<p>Once an attacker gains authenticated access, for example via a compromised PAT, they can clone private repositories at scale to their local device and scan them for secrets that would enable lateral movement. This and other common attacker behavior are recorded events in GitHub audit logs, which enables them to be detected by cloud SIEM tools. For example, using Datadog’s out-of-the-box (OOTB) security rules, you can detect events such as the <a href="https://docs.datadoghq.com/security/default_rules/def-000-38f/">mass exfiltration via cloning of repositories</a> using a PAT or when a PAT is used by a <a href="https://docs.datadoghq.com/security/default_rules/def-000-dca/">previously unseen user agent</a>.</p>
<h2>Tips to protect your GitHub environment against known attacks</h2>
<p>Previously, we discussed how to anticipate the different risks associated with inputs in your GitHub environment and how to ideate detection mechanisms. However, we can also glean detection opportunities from historical attacks on GitHub environments.</p>
<h3>The Shai Hulud npm worms</h3>
<p>In late 2025, two self-replicating npm worms dubbed <a href="https://securitylabs.datadoghq.com/articles/supply-chain-attacks-runtime-security-detection/">Shai-Hulud</a> and <a href="https://securitylabs.datadoghq.com/articles/shai-hulud-2.0-npm-worm/">Shai-Hulud 2.0</a> compromised over 1,000 unique npm packages, affecting over 500 unique GitHub users and over 14,000 GitHub repositories. The Shai-Hulud worms use the <code>post-install</code> and <code>pre-install</code> scripts of the <code>package.json</code> file to install and run their payload. During this execution, the malware downloads and runs <a href="https://github.com/trufflesecurity/trufflehog">TruffleHog</a>, a legitimate open source tool that the malware uses to scan its host for API keys, secrets, and other hardcoded credentials. These are then exfiltrated to a hardcoded webhook endpoint and public GitHub repositories.</p>
<p>What makes the Shai-Hulud worms so pervasive is that when they discover additional npm or GitHub publishing credentials, they create and publish a new version of npm packages with the malicious payload inserted in the install script. Downstream consumers that install or update the compromised packages then become infected, repeating the cycle above.</p>
<figure>
 <img src="https://web-assets.dd-static.net/42588/1776304438-secure-your-github-ecosystem-shai-hulud-diagram.png?format=auto&amp;fit=bounds&amp;quality=75&amp;disable=upscale&amp;width=1400&amp;dpr=1" alt="An example of how the Shai Hulud harvests and exfiltrates credentials using the GitHub API.">
 <figcaption>
  Sample process tree of a supply chain attack involving a malicious npm package. Credentials are harvested and exfiltrated using the GitHub API.
 </figcaption>
</figure>
<p>To stay up-to-date with the latest compromised packages, Datadog maintains the open source <a href="https://github.com/DataDog/supply-chain-firewall/tree/main">supply chain firewall security (SCFW) CLI tool</a>. SCFW automatically blocks the installation of known malicious npm and PyPI packages when developers run these package managers from their CLI, protecting your environment against malware such as Shai-Hulud before the payload has the chance to be installed and executed.</p>
<p>However, this type of traditional security tooling can only protect against <strong>known compromised packages</strong>. When installing code, you also need to answer, <em>“does this code look malicious?”</em> <a href="https://docs.datadoghq.com/integrations/guarddog/#install-guarddog">GuardDog answers this exact question</a>—it statically scans code from sources such as npm, PyPI, and GitHub Actions using heuristics that flag common malware patterns, such as the use of <code>curl</code> or <code>wget</code>, persistent lifecycle scripts, and self-propagation logic.</p>
<h3>Unauthorized OAuth token access</h3>
<p>Let’s look at another supply chain attack. In 2022, attackers gained <a href="https://github.blog/news-insights/company-news/security-alert-stolen-oauth-user-tokens/">unauthorized access to OAuth tokens</a> issued to third-party integrations, Heroku and Travis CI, which were then used to access GitHub’s API and exfiltrate data in a workflow similar to our last threat model example. Attackers were able to surface secrets, such as AWS API keys stored in private repositories that were then used to enumerate cloud resources and exfiltrate data from S3 storage.</p>
<p>Compromising OAuth token access is a common target entry point for attackers, who try to gain transitive access via authorized third-party integrations or through phishing schemes that attempt to have authenticated GitHub users grant permissions to malicious applications. For example, <a href="https://www.bleepingcomputer.com/news/security/fake-security-alert-issues-on-github-use-oauth-app-to-hijack-accounts/">in this recent phishing scheme</a>, fake security alerts were sent to GitHub users notifying them of “unusual access attempts.” The alert recommended several methods to secure their account, all of which led to an authorization page for a <code>gitsecurityapp</code> that requested a wide scope of risky permissions, enabling attackers to gain full access to the target user’s accounts and repositories.</p>
<p>Using security products such as <a href="https://www.datadoghq.com/product/cloud-siem/">Datadog Cloud SIEM</a>, you can detect common attack behavior that stems from compromised OAuth tokens and PATs. Normally, OAuth token usage occurs from a subset of fixed IP addresses or a consistent set of <a href="https://www.arin.net/resources/guide/asn/">Autonomous System Numbers (ASNs)</a>, which are large groups of IP addresses from a single network or cloud provider.</p>
<p>Once an attacker gains access to an OAuth token, they will often use it from their own server or environment to enumerate access and exfiltrate data. <a href="https://docs.datadoghq.com/security/default_rules/def-000-a7l/">Cloud SIEM’s OOTB detection rules</a> can identify when OAuth tokens are used from different ASNs and user agents and alert your security team so they can temporarily block the user in GitHub while they conduct a follow-up investigation.</p>
<p>Similarly, Cloud SIEM also offers rules to <a href="https://docs.datadoghq.com/security/default_rules/def-000-a74/">detect mass zip file exfiltrations of repositories</a> using OAuth access tokens, which is a common end goal for malicious actors. It also flags when <a href="https://docs.datadoghq.com/security/default_rules/def-000-rou/">OAuth application access restrictions are disabled</a>, a configuration change that enables attackers to persistently access your environment via third-party OAuth applications.</p>
<figure>
 <img src="https://web-assets.dd-static.net/42588/1776304442-secure-your-github-ecosystem-oauth-token-compromise-rule.png?format=auto&amp;fit=bounds&amp;quality=75&amp;disable=upscale&amp;width=1400&amp;dpr=1" alt="Datadog Cloud SIEM comes with OOTB detection rules that enable you to detet compromised OAuth access tokens.">
</figure>
<h3>Compromised third-party dependencies</h3>
<p>In October 2021, a widely used JavaScript library npm package <a href="https://github.com/faisalman/ua-parser-js/issues/536"><code>ua-parser.js</code></a> was hijacked and modified with malicious code that targeted secrets stored as environment variables and also ran a cryptominer. If an organization updated to the newest version of <code>ua-parser.js</code>, the compromised package would <a href="https://docs.github.com/en/actions/tutorials/create-an-example-workflow#understanding-the-workflow-file">trigger a GitHub Actions workflow</a> to execute the info-stealing script on a GitHub-hosted runner. Because cloud credentials, API keys, and other secrets are stored within the runner’s environment variables, they were accessible to the malicious pre-install script that was executed during CI.</p>
<p>To safeguard your GitHub environment against vulnerabilities introduced by third-party dependencies—including compromised npm packages and open source libraries—you’ll need to use a static code analyzer or dependency checker such as <a href="https://docs.datadoghq.com/security/code_security/">Datadog Code Security</a> or <a href="https://github.com/dependabot">GitHub Dependabot</a>. Using <a href="https://docs.datadoghq.com/security/code_security/software_composition_analysis/">Code Security’s Software Composition Analysis (SCA)</a>, you can scan your open source libraries to detect known and emerging security vulnerabilities before package changes get pushed to production.</p>
<p>This process enables the detection of changes to preinstall and postinstall scripts, which should always be treated with caution. Below is a basic template for an SCA rule to detect preinstall scripts, which were a primary vector in the Shai-Hulud 2.0 attack. This template can be modified to be more granular, looking for deeper patterns such as commands to download files from external sources, open network connections, or modify file systems.</p>
<pre><code>1rules:2  - id: suspicious-preinstall-script3    name: Detect preinstall script in package.json4    languages: [json]5    severity: WARNING6    message: &gt;7      Suspicious: A "preinstall" script was found in package.json. This can be abused8      and is a common tactic in malicious npm packages.9    pattern: |10      \{11        "scripts": \{12          "preinstall": ...13        }14      }15    metadata:16      category: supply-chain17      technology: nodejs18      tags: [npm, scripts, preinstall, supply-chain, malware]19      confidence: HIGH</code></pre>
<h2>Secure your supply chain with Datadog</h2>
<p>In this blog, we applied <a>the threat model discussed in the previous part of this series</a> to GitHub and mapped out different control inputs, their associated risks, and identities. We also reviewed historical supply chain attacks and discussed how different Datadog Security products can help you protect your CI/CD systems against these attacks.</p>
<p><a href="https://docs.datadoghq.com/security/#cloud-security">Check out our Cloud Security documentation</a> to learn how to get started. You can read more about emerging threats and vulnerabilities—such as the Shai-Hulud worms and other security research—<a href="https://securitylabs.datadoghq.com/">at Datadog Security Labs</a>.</p>
<p>If you don’t already have a Datadog account, see how you can protect your environment by <a>signing up for a free 14-day trial</a>.</p>
<p>Further reading</p>
<p>White Paper: DevSecOps Maturity Model</p><img src="https://web-assets.dd-static.net/42588/1777497541-thumbnail-devsecops_updated.png?format=auto&amp;fit=bounds&amp;quality=90&amp;disable=upscale&amp;width=276&amp;dpr=1" alt="White Paper: DevSecOps Maturity Model">
<p>Get a blueprint for assessing and advancing your DevSecOps practices.</p><a href="https://www.datadoghq.com/resources/devsecops-maturity-model/?utm_source=inbound&amp;utm_medium=corpsite-display&amp;utm_campaign=dg-security-ww-blog-toc-whitepaper-devsecopsmaturity">Download to learn more</a>